appnope==0.1.2
attrs==20.3.0
awsglue-local==1.0.2
backcall==0.2.0
certifi==2020.12.5
decorator==4.4.2
importlib-metadata==3.10.1
iniconfig==1.1.1
ipykernel==5.5.0
ipython==7.21.0
ipython-genutils==0.2.0
jedi==0.18.0
jupyter-client==6.1.12
jupyter-core==4.7.1
packaging==20.9
parso==0.8.1
pexpect==4.8.0
pickleshare==0.7.5
pluggy==0.13.1
prompt-toolkit==3.0.17
ptyprocess==0.7.0
py==1.10.0
py4j==0.10.7
Pygments==2.8.1
pypandoc==1.5
pyparsing==2.4.7
pyspark==2.4.7
pytest==6.2.3
python-dateutil==2.8.1
pyzmq==22.0.3
six==1.15.0
tornado==6.1
traitlets==5.0.5
typing-extensions==3.7.4.3
wcwidth==0.2.5
zipp==3.4.1
